@use '../variables'
    
.main-content
    background-color: variables.$bg-color
    flex: 2 1 0
    border-radius: variables.$container-boder-radius
    padding: 3rem
    box-shadow: 0 4px 10px #00000033