$font-stack: "Courier New"

$text-color: #FFF
$text-color-secondary: #A6A6A6
$body-bg-color: #222736
$bg-color: #1B1F29
$bg-color-secondary: #13161d
$gradient: linear-gradient(90deg, #5100D3 0%, #9700D3 100%)

$container-boder-radius: 10px
$card-boder-radius: 5px
